<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Estudiantes</title>
</head>
<body>
    <h1>Listar Estudiantes</h1>
    <table border="1">
    <tr>
        <td>Nombre</td>
        <td>Apellido</td>
        <td>direccion</td>
        <td>Foto</td>
    </tr>
    {% for est in object_list%}
    <tr>
        <td>{{ est.nombre}}</td>
        <td>{{ est.apellido}}</td>
        <td>{{ est.direccion}}</td>
        <td><img src="{{ est.imagen}}" alt=""></td>
    </tr>
    {% endfor %}
    </table>
</body>
</html>