h1{
    color:blue;
}
h2{

    color:crimson;
}
.imagenes{
    margin: 50px;
    margin-top: 50px;
}

.texto{
    margin-top: 35px;
}
.titulo{
    margin-left: 200px;
    margin-top: 100px;
}
