<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Cliente</title>
</head>
<body>
    <h1>Crear Cliente</h1>
    <form method="POST">
        {% csrf_token %}
        Doc {{form.documento}}
        Nombre {{form.nombre}}
        Apellido {{form.apellido}}
        Direccion {{form.direccion}}
        Tipo {{form.tipo}}
        Nacimiento {{form.nacimiento}}
        <input type="submit" name="Guardar">
    </form>
</body>
</html>